@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1127px;
    margin: 0 auto;
    padding: 0 15px;
}

header.container {
    display: flex;
    align-items: center;
    padding: 1.5em 15px;
}

header nav {
    flex: 1;
    margin-left: 40px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.07142857rem;
}

header nav .mobile-menu-open {
    display: none;
    background: none;
    border: 1px solid #007eb1;
    border-radius: 5px;
    padding: 0.5em 1em;
    line-height: 1;
    color: #007eb1;
    cursor: pointer;
}

header nav .mobile-menu-close {
    font-size: 2.5rem;
}

header nav ul li a {
    color: #68778d;
    padding: 1.7em 0 1.35714286em;
    margin: 0 2.28571429em 0 0;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}

header nav ul li.active a {
    border-bottom-color: #e40166;
}

header nav ul li a:hover,
header nav ul li a:focus {
    color: #1b1c1d;
    text-decoration: none;
    border-bottom-color: #c7d5d8;
}

@media (max-width: 768px) {
    header nav .mobile-menu-open {
        display: inline-block;
    }

    header nav {
        text-align: right;
    }

    header nav ul {
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        max-width: 0;
        overflow: hidden;
        background: #fff;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 0;
        transition: all 0.3s ease;
    }

    header nav .mobile-menu-open:focus+ul,
    header nav ul:focus {
        max-width: 100%;
        padding: 3rem 1rem;
    }

    header nav ul li {
        margin-top: 1.5rem;
    }

    header nav ul li a {
        padding: 0.5em 0;
        margin: 0;
        border-bottom: 0;
    }
}


nav.breadcrumb {
    font-size: 0.85714286rem;
    background: #edf1f2;
    color: #517776;
    border-bottom: 1px solid #c7d5d8;
    padding: 1em 0;
}

nav.breadcrumb ol {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav.breadcrumb ol li+li {
    margin-left: 0.7em;
}

nav.breadcrumb ol li+li::before {
    content: "/";
    margin-right: 0.7rem;
    display: inline-block;
    color: #517776;
    opacity: .7;
}

nav.breadcrumb ol li a {
    color: #0074a3;
}

main.container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    background: #68778d;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer .content-info {
    font-size: .85714286rem;
    padding: 1em;
}

footer ul.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul.link-list li+li {
    margin-left: 1em;
}

@media (max-width: 600px) {
    footer ul.link-list {
        flex-direction: column;
    }
}
